

th.m1 {
  background: url('https://picsum.photos/200/200/?image=998');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 175px;


}
th.m2 {
  background: url('https://picsum.photos/200/200/?image=997');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 175px;

}
th.m3 {
  background: url('https://picsum.photos/200/200/?image=996');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 175px;

}
th.m4 {
  background: url('https://picsum.photos/200/200/?image=995');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 175px;

}
th.m5 {
  background: url('https://picsum.photos/200/200/?image=994');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 175px;

}

.flipped{
  opacity: 0.0
}


.matched {
  /* display: none; */
  opacity: 0;
}
